<footer id="footer" class="row">
  <div class="footer_sec_one col-md-3 col-12 ">
    <h5>GIT IN TOUCH</h5>
    <a href="mailto: MohamedAshrafElbayoumi@gmail.com">
      <fa-icon [icon]="faMessage"></fa-icon>
      MohamedAshrafElbayoumi@gmail.com
    </a>
    <a href="tel:00201020472050">
      <fa-icon [icon]="faAddressCard"></fa-icon>
      00201020472050
    </a>
  </div>
  <a href="https://wa.me/00201020472050" target="_blank" class="btn col-md-3 col-12">CONTACT ME</a>
  <div class="footer_sotial col-md-3 col-12">
    <a href="https://www.linkedin.com/in/mohamed-ashraf-elbayoumi-16999311a/" target="_blank">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a href="https://www.facebook.com/mohamedashrafelbayoumi" target="_blank">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a href="https://twitter.com/Mohamed24819471" target="_blank">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>

  </div>

</footer>
<!--  -->
