<div class="skills row">
  <div class="skills_info col-12 text-center p-5">
    <h3>Skills</h3>
    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eius sint animi sapiente
      assumenda
      autem molestias ipsum suscipit maxime ab enim tempore accusamus soluta, necessitatibus cupiditate vero a facere
      quis?</p>
  </div>
    <div class="skills_details col-12 row m-1">
      <div class="list-group col-6 mt-1">
        <a href="#" class="list-group-item list-group-item-action">MY FOCUS</a>

        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Frontend development</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">backend development</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">database development</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A UX&UI</a>

      </div>

      <div class="details_skills_courss col-6">
        <label for="html">html</label>
        <div name="html" class="progress">

          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="css">css</label>
        <div name="css" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <label for="javascript">javascript</label>
        <div name="javascript" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="cpp">cpp</label>
        <div name="cpp" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="jquery">jquery</label>
        <div name="jquery" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="php">php</label>
        <div name="php" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="sass">sass</label>
        <div name="sass" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="laravel">laravel</label>
        <div name="laravel" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="Angular">Angular</label>
        <div name="Angular" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <label for="typescript">typescript</label>
        <div name="typescript" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <label for="MySql">MySql</label>
        <div name="MySql" class="progress mt-2">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
      </div>
    </div>
  </div>
<!--  -->
