<div class="skills row" id="skills">
  <div class="skills_info col-12 text-center">
    <h3>Skills</h3>
    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eius sint animi sapiente
      assumenda
      autem molestias ipsum suscipit maxime ab enim tempore accusamus soluta, necessitatibus cupiditate vero a facere
      quis?</p>
  </div>
  <div class="skills_details_title col-12 col-md-12 row ">
    <div class="list-group col-md-6 col-12 ">
      <app-skill-titl></app-skill-titl>
    </div>





    <div class="details_skills_courss col-md-6 col-12 ">
      <app-skill></app-skill>
    </div>
  </div>
</div>
<!--  -->
