<a href="#" class="list-group-item list-group-item-action text-center">MY FOCUS</a>

<a href="#" class="list-group-item list-group-item-action list-group-item-primary">Frontend development</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-secondary">backend development</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-success">database development</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-danger">A UX&UI</a>
